
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

.side-bar {
    background-color: rgb(58,119,122);
    width: 100%;
}

.text-orbis {
    font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}